<link rel="stylesheet" href="/css/header.css" />

<header>
  <nav>
    <div class="nav-container">
      <div class="container">
        <div class="logo"><a href="#">Blogify</a></div>
        <ul>
          <li
            class="<%= (locals.activePage && activePage === 'home') ? 'active' : '' %>"
          >
            <a href="/">home</a>
          </li>
          <!-- <li
            class="<%= (locals.activePage && activePage === 'about') ? 'active' : '' %>"
          >
            <a href="/about">about</a>
          </li>
          <li
            class="<%= (locals.activePage && activePage === 'privacy') ? 'active' : '' %>"
          >
            <a href="/privacy">privacy</a>
          </li> -->
          <li
            class="<%= (locals.activePage && activePage === 'addpost') ? 'active' : '' %>"
          >
            <a href="/addpost">add new post</a>
          </li>
          <li
            class="<%= (locals.activePage && activePage === 'register') ? 'active' : '' %>"
          >
            <a href="/auth/register">become an author</a>
          </li>
          <li
            class="<%= (locals.activePage && activePage === 'login') ? 'active' : '' %>"
          >
            <a href="/auth/login">author login</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
