<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="/css/general.css" />
    <link rel="stylesheet" href="/css/home.css" />
  </head>
  <body>
    <%-include('partials/header', {activePage: "home", isLogin: isLogin});-%>
    <%- include('partials/sidebar.ejs'); -%>

    <div class="main-content">
      <div class="container">
        <div class="blog-posts">
          <% for(let i = 0; i < posts.length; i++) { %>
          <div class="post-card">
            <div class="blog-post-header">
              <a href="<%=posts[i].postRoute%>">
                <h2><%= posts[i].title %></h2>
              </a>
              <i class="post-date">
                <%= posts[i].date.toLocaleDateString() %>, <%=
                posts[i].date.toLocaleDateString("default", {weekday: "long"})
                %>
              </i>
            </div>
            <div class="blog-post-content">
              <p><%= posts[i].excerpt %></p>
            </div>
          </div>
          <% } %>
        </div>
      </div>
    </div>

    <%- include('partials/footer.ejs');-%>
  </body>
</html>
