<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Post</title>
    <link rel="stylesheet" href="/css/home.css" />
    <link rel="stylesheet" href="/css/general.css" />
    <link rel="stylesheet" href="/css/post.css" />
  </head>
  <body>
    <%-include('partials/header'); -%>

    <div class="main-content">
      <div class="post container">
        <div class="post-header">
          <h1><%=post.title%></h1>
        </div>
        <div class="post-content">
          <% for(let i = 0; i < post.body.length; i++){ %> <% if
          (post.body[i].textType === "p") { %>
          <p><%= post.body[i].content %></p>
          <% } else if (post.body[i].textType === "h2") {%>
          <h2><%= post.body[i].content %></h2>
          <% } else if (post.body[i].textType === "h3") {%>
          <h3><%= post.body[i].content %></h3>
          <% } else if (post.body[i].textType === "h4") { %>
          <h4><%= post.body[i].content %></h4>
          <% } else if (post.body[i].textType === "image") {%>
          <div class="image-container">
            <img src="/<%= post.body[i].content %>" alt="" />
          </div>
          <% } %> <% } %>
        </div>
      </div>
    </div>

    <%-include('partials/footer'); -%>
  </body>
</html>
