<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Posts</title>
    <link rel="stylesheet" href="css/general.css" />
    <link rel="stylesheet" href="css/posts.css" />
  </head>
  <body>
    <%- include('partials/header', {activePage: "posts"}) -%>
    <div class="main-content">
      <table>
        <tr>
          <th>Title</th>
          <th>Author</th>
          <th>Category</th>
          <th>Date</th>
        </tr>

        <% posts.forEach(p => { %>
        <tr>
          <td>
            <%= p.title %>
            <div class="edit-options">
              <form action="/addpost/<%= p._id %>" method="GET">
                <button type="submit" class="btn-small edit">Edit</button>
              </form>
              <form method="GET" action="/deletepost/<%= p._id %>">
                <button type="submit" class="btn-small delete">Delete</button>
              </form>
            </div>
          </td>
          <td><%= p.author.name %></td>
          <td><%= p.category.category %></td>
          <td><%= p.date.toLocaleString() %></td>
        </tr>
        <% }) %>
        </form>
      </table>
      
      <form class="add-post" method="GET" action="/addpost">
        <button class="btn" type="submit">ADD NEW POST</button>
    </div>
  </body>
</html>
